<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>My Favorite Things</title>
</head>

<body>
    
    <h1>My Favorite Things</h1>

    <hr>

    <main>
        {{{ body }}}
    </main>

    <hr>

    <script type="module" src="js/main.js"></script>
    
</body>

</html>