.error-text {
    color: lightcoral;
    text-align: center;
}

.go-home {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.error-img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}